@keyframes flash {
  0% {
    background-color: var(--color-secondary);
    left: -24rem;
    opacity: 0.7;
  }
  10% {
    background-color: transparent;
    left: 24rem;
    opacity: 0;
  }
  100% {
    background-color: transparent;
    left: 24rem;
    opacity: 0;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  background-image: url("../images/bg-royal.png");
  background-position: center;
  --body-color: #333;
  --text-color: #fff;
  --bg-color: #e9ecef;
  --color-primary: #5ff2fe;
  --color-secondary: #007bff;
  --color-tertiary: #0b4363;
  --font-content: "Open sans", sans-serif;
  --font-heading: "Lora", serif;
  font-size: 62.5%;
}

body {
  background-size: contain;
  color: var(--text-color);
  font-family: var(--font-content);
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 1.3;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.heading, .heading-tertiary, .heading-secondary, .heading-primary {
  font-family: var(--font-heading);
  font-weight: 700;
  text-transform: uppercase;
}

.heading-primary {
  font-size: 4rem;
}

.heading-secondary {
  font-size: 2.3rem;
}

.heading-tertiary {
  font-size: 1.8rem;
}

.mt-s {
  margin-top: 0.7rem !important;
}

.mt-m {
  margin-top: 2rem !important;
}

.btn {
  background-color: var(--text-color);
  border: none;
  border-radius: 10rem;
  box-shadow: 0 0.5rem 0.5rem rgba(136, 136, 136, 0.4);
  display: inline-block;
  font-size: inherit;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.btn__link:link, .btn__link:active {
  color: var(--body-color);
  display: block;
  font-size: 1.85rem;
  font-weight: 400;
  padding: 2rem 6rem;
  text-decoration: none;
  text-transform: uppercase;
}
.btn::after {
  animation: flash 5s ease infinite;
  border-radius: 10rem;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -23rem;
  height: 100%;
  width: 100%;
}

.navigation {
  background-color: var(--bg-color);
  position: fixed;
  width: 100%;
  z-index: 100;
}
.navigation__brand {
  margin-left: 0.5rem;
  width: 8rem;
}
.navigation__brand-link:link, .navigation__brand-link:active, .navigation__brand-link:visited {
  text-decoration: none;
}
.navigation__logo {
  width: 100%;
}
.navigation__bg {
  background-color: transparent;
  border-radius: 50%;
  height: 6.1rem;
  width: 6.1rem;
  position: absolute;
  right: 1.4rem;
  top: 0.5rem;
}
.navigation__btn, .navigation__btn::after, .navigation__btn::before {
  background-color: var(--color-tertiary);
  display: block;
  height: 2px;
  transform-origin: center;
  transition: transform 300ms ease;
  width: 4rem;
  position: absolute;
}
.navigation__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__btn::after, .navigation__btn::before {
  content: "";
}
.navigation__btn::after {
  top: 0.9rem;
}
.navigation__btn::before {
  top: -0.8rem;
}
.navigation__menu {
  background-color: #dde;
  height: 100vh;
  width: 100vw;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 400ms ease;
}
.navigation__menu-list {
  list-style: none;
  text-align: center;
  width: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__menu-item {
  display: block;
}
.navigation__menu-link:link, .navigation__menu-link:active {
  color: var(--color-tertiary);
  display: inline-block;
  font-weight: 700;
  font-size: 1.7rem;
  padding: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.navigation__menu-link:visited {
  color: var(--color-secondary);
}
.navigation__menu-link:hover {
  background-color: var(--color-primary);
  color: var(--text-color);
}
.navigation__menu-close {
  color: var(--color-tertiary);
  cursor: pointer;
  display: inline;
  font-size: 5rem;
  padding: 2rem;
  position: absolute;
  right: 0.8rem;
  top: -1.5rem;
}

.pricing {
  color: var(--text-color);
  padding: 8rem 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
.pricing__section-intro {
  background-image: url("../images/yellow-blob.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30rem;
  margin: 7rem 0 2rem;
  position: relative;
  text-align: center;
}
.pricing__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 0.7rem;
  color: var(--text-color);
  display: block;
  padding: 2rem 1rem;
  width: 30rem;
}
.pricing__category {
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 0.7rem;
  font-size: 1.9rem;
  margin-top: 2rem;
  padding: 1.5rem;
}
.pricing__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.pricing__package {
  width: 100%;
}
.pricing__caption {
  background-color: var(--color-secondary);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: var(--text-color);
  font-size: 2.2rem;
  margin-top: 3rem;
  padding: 2rem;
  width: 100%;
}
.pricing__description {
  background-color: var(--text-color);
  color: var(--body-color);
  display: block;
  font-size: 1.3rem;
  list-style-type: none;
  padding: 2rem;
}
.pricing__item {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}
.pricing__icon {
  margin-right: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}
.pricing__icon--check {
  fill: #20f020;
}
.pricing__icon--clear {
  fill: #ff0c0c;
}

.contact {
  background-color: var(--bg-color);
  padding: 10rem 2rem;
}
.contact__form {
  background-color: var(--text-color);
  border-radius: 0.4rem;
  color: var(--body-color);
  display: block;
  font-size: 1.5rem;
  padding: 4rem 0.8rem;
}
.contact__label {
  display: block;
  margin: 2rem 0 0.5rem;
  padding-left: 0.7rem;
}
.contact__input {
  background-color: #dde;
  border: 1.5px solid var(--bg-color);
  border-radius: 0.4rem;
  display: block;
  font-family: inherit;
  font-size: inherit;
  padding: 1.5rem 0 1.5rem 0.7rem;
  width: 100%;
}
.contact__input:focus {
  outline: none;
}
.contact__input:valid {
  border: 1.5px solid #20f020;
}
.contact__button {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 0.7rem;
  box-shadow: 0 0.8rem 0.5rem rgba(51, 51, 51, 0.4);
  color: var(--text-color);
  display: block;
  font-family: inherit;
  font-size: 1.6rem;
  margin-top: 2.5rem;
  padding: 2rem 4rem;
  transition: all 200ms ease;
}
.contact__button:active {
  box-shadow: 0 0.5rem 0.5rem rgba(51, 51, 51, 0.4);
  transform: translateY(0.4rem);
}
.contact__button:focus {
  outline: none;
}
.contact__button:visited {
  text-decoration: none;
}

.faq {
  color: var(--text-color);
  padding: 8rem 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
.faq__section-intro {
  background-image: url("../images/orange-blob.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30rem;
  margin: 7rem 0 2rem;
  position: relative;
  text-align: center;
}
.faq__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 0.7rem;
  color: var(--text-color);
  display: block;
  padding: 2rem 1rem;
  width: 30rem;
}
.faq__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.faq__category {
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 0.7rem;
  font-size: 2rem;
  margin: 1.5rem 0;
  padding: 1.5rem;
  align-self: flex-start;
}
.faq__item {
  margin-top: 3rem;
  width: 100%;
}
.faq__answer {
  font-size: 1.7rem;
  margin-top: 1.5rem;
}

.feature {
  padding: 8rem 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
.feature__section-intro {
  background-image: url("../images/yellow-blob.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30rem;
  margin-bottom: 2rem;
  position: relative;
}
.feature__heading {
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 0.7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 0;
  text-align: center;
  width: 30rem;
}
.feature__heading--detail {
  white-space: nowrap;
  font-size: 1.5rem;
}
.feature__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.feature__features {
  background-color: var(--bg-color);
  clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
  height: 25rem;
  width: 25rem;
  padding: 2rem 0;
  position: relative;
  text-align: center;
}
.feature__features:not(:last-of-type) {
  margin-bottom: 6rem;
}
.feature__icon {
  fill: var(--color-secondary);
  height: 8rem;
  width: 8rem;
  position: absolute;
  left: 8.5rem;
  top: 5rem;
}
.feature__title {
  color: var(--color-secondary);
}
.feature__title--1 {
  position: absolute;
  left: 3.5rem;
  top: 12rem;
}
.feature__title--2 {
  position: absolute;
  left: 6.1rem;
  top: 14rem;
}
.feature__title--3 {
  position: absolute;
  left: 1.5rem;
  top: 12rem;
}
.feature__title--4 {
  position: absolute;
  left: 7.2rem;
  top: 14rem;
}
.feature__title--5 {
  position: absolute;
  left: 5.5rem;
  top: 14rem;
}
.feature__title--6 {
  position: absolute;
  left: 1.5rem;
  top: 12rem;
}
.feature__title span {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 1.4rem;
  left: 4rem;
}
.feature__title--text {
  left: 5.8rem !important;
}

.footer {
  background-color: var(--body-color);
  padding: 6rem 2rem 0;
}
.footer__logo-image {
  width: 100%;
}
.footer__quick-links {
  display: block;
  font-size: 1.5rem;
  list-style: none;
}
.footer__link-item {
  display: block;
}
.footer__link:link, .footer__link:active {
  color: var(--bg-color);
  cursor: pointer;
  display: block;
  padding: 2rem 0;
  text-decoration: none;
}
.footer__link:visited, .footer__link:hover {
  color: var(--color-secondary);
}
.footer__link:hover {
  background-color: var(--bg-color);
}
.footer__attribution {
  margin: 4rem 0;
}
.footer__attribution div {
  color: var(--text-color);
  font-size: 1.4rem;
}
.footer__attribution a:link, .footer__attribution a:active {
  color: var(--color-secondary);
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
}
.footer__copyright {
  color: var(--bg-color);
  font-size: 1.1rem;
  text-align: center;
}
.footer__copyright-text {
  color: inherit;
  font-size: inherit;
  opacity: 0.5;
}
.footer__heading {
  color: #dde;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.gallery {
  background-color: var(--bg-color);
  padding: 8rem 2rem;
  text-align: center;
}
.gallery__title {
  background-image: url("../images/purple-blob.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30rem;
  margin-bottom: 2rem;
  position: relative;
}
.gallery__title--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 0.7rem;
  padding: 2rem 4rem;
}
.gallery__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 12rem;
}
.gallery__grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.5rem;
}
.gallery__item {
  width: 15rem;
}
.gallery__image {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.gallery__category--1 {
  color: var(--color-secondary);
  margin-bottom: 2rem;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 5rem 2rem 10rem;
  margin-top: 7rem;
}
.header__title {
  background-image: url("../images/orange-blob.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30rem;
  position: relative;
  text-align: center;
}
.header__title--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 0.7rem;
  padding: 0.5rem 0;
}
.header__paragraph {
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 0.7rem;
  border-radius: 0.5rem;
  font-size: inherit;
  margin: 0 0 5rem;
  padding: 2rem;
}

.studio {
  background-color: var(--bg-color);
  padding: 8rem 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
.studio__section-intro {
  background-image: url("../images/cyan-blob.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30rem;
  margin-bottom: 2rem;
  position: relative;
  text-align: center;
}
.studio__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 0.7rem;
  display: block;
  padding: 2rem 1rem;
  width: 30rem;
}
.studio__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, min-content);
  gap: 0.5rem;
  margin-bottom: 9rem;
}
.studio__container {
  height: 15rem;
  width: 15rem;
}
.studio__file {
  border: 2px solid var(--color-secondary);
  display: block;
  height: 100%;
  object-fit: fill;
  width: 100%;
}

.testimonial {
  padding: 8rem 2rem;
  text-align: center;
}
.testimonial__title {
  background-image: url("../images/banner-blob.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30rem;
  margin-bottom: 4rem;
  position: relative;
}
.testimonial__title--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 0.7rem;
  padding: 2rem 4rem;
}
.testimonial__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial__customer {
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 0.7rem;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.testimonial__customer:not(:last-of-type) {
  margin-bottom: 7rem;
}
.testimonial__image {
  fill: var(--text-color);
  height: 9rem;
  width: 9rem;
}
.testimonial__customer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.testimonial__customer-info > span {
  font-size: 1.3rem;
}
.testimonial__comment {
  font-size: 1.4rem;
  text-align: left;
}

/*# sourceMappingURL=styles.css.map */
