.contact {
	background-color: var(--bg-color);
	padding: 10rem 2rem;
	&__form {
		background-color: var(--text-color);
		border-radius: 0.4rem;
		box-shadow: 0 0.95rem 1rem rgba(#333, 0.4);
		color: var(--body-color);
		display: block;
		font-size: 1.5rem;
		margin: 0 auto;
		max-width: 60rem;
		padding: 4rem 1.25rem;
	}

	&__label {
		display: block;
		margin: 2rem 0 0.5rem;
		padding-left: 0.7rem;
	}

	&__input {
		background-color: #dde;
		border: 1.5px solid var(--bg-color);
		border-radius: 0.4rem;
		display: block;
		font-family: inherit;
		font-size: inherit;
		padding: 1.5rem 0 1.5rem 0.7rem;
		width: 100%;

		&:focus {
			outline: none;
		}
	}

	&__input:valid {
		border: 1.5px solid #20f020;
	}
}
