.gallery {
	background-color: var(--bg-color);
	padding: 8rem 2rem;
	text-align: center;

	&__title {
		background-image: url("../images/purple-blob.jpg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		height: 30rem;
		margin-bottom: 2rem;

		position: relative;

		&--text {
			@include centered;
			@include textbox;

			padding: 2rem 4rem;
		}
	}

	&__container {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: space-around;
		margin-bottom: 12rem;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, auto);
		gap: 0.5rem;

		@include mediaQueries(37.5rem) {
			grid-template-columns: repeat(3, min-content);
			gap: 1rem;
		}
	}

	&__item {
		box-shadow: 0 0.25rem 0.5rem rgba(#333, 0.3);
		outline-offset: 1rem;
		width: 15rem;
		transition: all 100ms ease-in-out;

		&:hover {
			outline: 1rem solid var(--color-primary);
			transform: scale(1.1);
			z-index: 10;
		}
	}

	&__image {
		display: block;
		height: 100%;
		object-fit: cover;
		width: 100%;
	}

	&__category--1 {
		color: var(--color-secondary);
		margin-bottom: 2rem;
	}
}
