.header {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	padding: 5rem 2rem 10rem;
	margin-top: 7rem;

	@include mediaQueries(29.06rem) {
		padding: 5rem 4rem 10rem;
	}

	&__title {
		background-image: url("../images/orange-blob.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		height: 30rem;
		position: relative;
		text-align: center;

		&--text {
			@include centered;
			@include textbox;
			padding: 0.5rem 0.75rem;
		}
	}

	&__paragraph {
		@include textbox;
		border-radius: 0.5rem;
		font-size: inherit;
		margin: 0 0 5rem;
		padding: 2rem;

		@include mediaQueries(33.31rem) {
			font-size: 1.8rem;
			padding: 2rem 4rem;
		}
	}
}
