.header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    padding: 7rem 2rem;
    margin-top: 7rem;

    &__title {
       text-align: center;
    }
    
    &__bg {
        background-image: url("../images/banner-blob-small.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 40rem;
        margin: 5rem 0;
        padding: 10rem 0 0;
    }

    &__paragraph {
        @include textbox;
        border-radius: .5rem;
        padding: 2rem 0;
    }
}