.header {
    background-image: url("../images/bg-blue.png");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    padding: 7rem 2rem 10rem;
    margin-top: 7rem;

    &__title {
       @include textbox;
       padding: .5rem 0;
       text-align: center;
    }

    &__paragraph {
        @include textbox;
        border-radius: .5rem;
        margin: 5rem 0;
        padding: 2rem;
    }
}