.media {
    background-color: var(--bg-color);
    margin-top: 5rem;
    padding: 8rem 2rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    &__section-intro {
        background-image: url("../images/cyan-blob.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 40rem;
        margin-bottom: 2rem;

        position: relative;
    }

    &__heading {
        @include textbox;
        padding: 2rem 1rem;

        position: absolute;
        left: 3rem;
        top: 17rem;
    }

    &__container {
        margin: 2rem 0;
        width: 32rem;
    }

    &__file {
        border: .5rem solid var(--color-primary);
        border-radius: .9rem;
        display: block;

        width: 100%;
    }
}