.service {
    background-image: url("../images/bg-deepblue.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 2rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    &__section-intro {
        background-image: url("../images/cyan-blob.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 40rem;
        margin-bottom: 2rem;

        position: relative;
    }

    &__heading {
        @include textbox;
        text-align: center;
        padding: 2rem 1rem;

        position: absolute;
        left: 3rem;
        top: 17rem;

        &--detail {
            white-space: nowrap;
            font-size: 1.5rem;
        }
    }
}