.testimonial {
	padding: 4rem 2rem;

	&__title {
		background-image: url("../images/responsive_images/yellow-blob-sm.webp");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		height: 30rem;
		margin-bottom: 8rem;

		position: relative;

		@include mediaQueries(55rem) {
			background-image: url("../images/responsive_images/yellow-blob-lg.webp");
		}

		&--text {
			@include centered;
			@include textbox;

			padding: 2rem 4rem;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__customer {
		@include textbox;
		margin: 0 auto;
		max-width: 50rem;
		padding: 4rem 1rem;

		display: flex;
		flex-flow: row wrap;

		&:not(:last-of-type) {
			margin-bottom: 7rem;
		}
	}

	&__image {
		fill: var(--text-color);
		height: 8rem;
		width: 8rem;
	}

	&__customer-info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		& > span {
			font-size: 1.3rem;
		}
	}

	&__comment {
		font-size: 1.4rem;
		padding: 1.25rem 1rem;
	}
}
