.testimonial {
	background-color: var(--body-color);
	padding: 8rem 2rem;
	text-align: center;

	&__title {
		background-image: url("../images/banner-blob.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		height: 40rem;
		margin-bottom: 4rem;

		position: relative;

		&--text {
			@include centered;
			@include textbox;

			padding: 2rem 4rem;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__customer {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;

		&:not(:last-of-type) {
			margin-bottom: 7rem;
		}
	}

	&__image {
		fill: var(--text-color);
		height: 9rem;
		width: 9rem;
	}

	&__customer-info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		& > span {
			font-size: 1.3rem;
		}
	}

	&__comment {
		font-size: 1.6rem;
	}
}
