@mixin centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin textbox {
	background-color: rgba($color-grey-2, 0.6);
	border-radius: 0.7rem;
}

//MEDIA QUERIES

//px / 16 equal breakpoint in rem

@mixin mediaQueries($breakpoint) {
	@media only screen and (min-width: $breakpoint) {
		@content;
	}
}
