//Colors
$color-yellow-primary: #ff9a00;
$color-yellow-secondary: #f39500;
$color-red-primary: #ff165d;
$color-red-secondary: #bd0925;
$color-grey-1: #6e7c7c;
$color-grey-2: #435560;
$color-grey-3: #92967d;
$color-grey-4: #c8c6a7;

//Form colors
$color-error: #ff4646;
$color-success: #a7ff83;

//Font family
$content: "Open sans", sans-serif;
$heading: "Lora", serif;
