.btn {
	// animation: glow 1s ease infinite alternate;
	background-color: var(--text-color);
	border: none;
	border-radius: 10rem;
	box-shadow: 0 0.75rem 1rem rgba(#333, 0.8);
	display: inline-block;
	font-size: inherit;
	margin: 0 auto;
	transition: transform 300ms ease-out;
	will-change: transform;

	position: relative;
	overflow: hidden;

	&:hover {
		transform: scale(1.1);
		transition: transform 150ms ease-in;
	}

	&__link {
		&:link,
		&:active {
			color: var(--body-color);
			display: block;
			font-size: 1.85rem;
			font-weight: 400;
			padding: 2rem 6rem;
			text-decoration: none;
			text-transform: uppercase;
		}
	}

	&::after {
		animation: flash 5s ease infinite;
		border-radius: 10rem;
		content: "";
		display: block;

		position: absolute;
		top: 0;
		left: -23rem;
		height: 100%;
		width: 100%;
	}
}
