.media {
    margin-top: 10rem;
    padding: 7rem 2rem;
    
    &__container {
        background-image: url("../images/blue-blob-3.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 32rem;
    }
    
    &__file {
        border: .5rem solid var(--color-primary);
        border-radius: .9rem;
        display: block;
        width: 100%;
    }
}