.media {
    margin-top: 10rem;
    padding: 0 2rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    &__section-intro {
        background-image: url("../images/blue-blob-3.png");
        background-position: 60% 50%;
        background-size: 250%;
        background-repeat: no-repeat;
        height: 30vh;
        margin-bottom: 2rem;

        position: relative;
    }

    &__heading {
        @include textbox;
        padding: 2rem 1rem;

        position: absolute;
        left: 3rem;
        top: 10rem;
    }

    &__container {
        margin: 2rem 0;
        width: 36rem;
    }

    &__file {
        border: .5rem solid var(--color-primary);
        border-radius: .9rem;
        display: block;

        width: 100%;
    }
}