@keyframes flash {
	0% {
		background-color: $color-yellow-primary;
		left: -24rem;
		opacity: 0.5;
	}

	10% {
		background-color: transparent;
		left: 24rem;
		opacity: 0;
	}

	100% {
		background-color: transparent;
		left: 24rem;
		opacity: 0;
	}
}
