// universal reset
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

//document root
:root {
	background-image: url("../images/responsive_images/bg-sm.webp");
	background-position: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	--body-color: #333;
	--text-color: #fff;
	--bg-color: #e9ecef;
	--color-primary: #5ff2fe;
	--color-secondary: #007bff;
	--color-tertiary: #0b4363;
	--font-content: "Open sans", sans-serif;
	--font-heading: "Lora", serif;
	font-size: 62.5%;

	@include mediaQueries(55rem) {
		background-image: url("../images/responsive_images/bg-lg.webp");
	}
}

//body
body {
	background-size: contain;
	color: var(--text-color);
	font-family: var(--font-content);
	font-size: 1.6rem;
	font-weight: 400;
	letter-spacing: 0.2rem;
	line-height: 1.3;
}

//grid container for the body
.container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

// ::selection {}
