// universal reset
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//document root
:root {
    --body-color: #333;
    --text-color: #fff;
    --bg-color: #e6e6e6;
    --color-primary: #41aeee;
    --color-secondary: #0da4fc;
    --color-tertiary: #0b4363;
    --font-content: "Open sans", sans-serif;
    --font-heading: "Lora", serif;
    font-size: 62.5%;
}

//body
body {
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: var(--font-content);
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: .2rem;
}

//grid container for the body
.container {
    display: grid;
    grid-template-rows: 80vh max-content;
}

// ::selection {}