.mt-s {
	margin-top: 0.7rem !important;
}

.mt-m {
	margin-top: 2rem !important;
}

.mt-l {
	margin-top: 4rem i !important;
}

.mb-s {
	margin-bottom: 0.7rem !important;
}

.mb-m {
	margin-bottom: 2rem !important;
}

.mb-l {
	margin-bottom: 4rem !important;
}

.center {
	text-align: center !important;
}
