//Colors
$color-primary-shade-1: #7d0600;
$color-primary-shade-2: #fd554c;
$color-primary-shade-3: #fc0d00;
$color-primary-shade-4: #7d2a25;
$color-primary-shade-5: #c90a00;
$color-grey-1: #6e7c7c;
$color-grey-2: #435560;
$color-grey-3: #92967d;
$color-grey-4: #c8c6a7;

//Form colors
$color-success: #a7ff83;

//Font family
$content: "Open sans", sans-serif;
$heading: "Lora", serif;
