//Colors
$color-primary-shade-1: #3b0f08;
$color-primary-shade-2: #fd554c;
$color-primary-shade-3: #fc0d00;
$color-primary-shade-4: #ba685f;
$color-primary-shade-5: #c90a00;
$color-grey-1: #faf7e0;
$color-grey-2: #435560;
$color-grey-3: #92967d;
$color-grey-4: #dae0dc;

//Form colors
$color-success: #52fc1f;

//Font family
$content: "Open sans", sans-serif;
$heading: "Lora", serif;
