.btn {
	background-color: $color-grey-4;
	border: none;
	border-radius: 10rem;
	box-shadow: 0 0.35rem 0.4rem rgba($color-grey-2, 0.8);
	color: $color-primary-shade-5;
	display: inline-block;
	font-family: inherit;
	font-size: 1.85rem;
	font-weight: bolder;
	margin: 0 auto;
	padding: 2rem 6rem;
	text-transform: uppercase;

	transition: transform 300ms ease-out;
	will-change: transform;

	position: relative;

	&:hover {
		transform: scale(1.1);
		transition: transform 150ms ease-in;
	}

	&:focus {
		background-color: $color-primary-shade-4;
		outline: none;
	}

	&::before {
		animation: flash 5s ease infinite;
		background-color: $color-grey-4;
		border-radius: 10rem;
		content: "";
		display: block;

		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

.btn--red {
	background-color: $color-primary-shade-2;
	border: none;
	border-radius: 0.7rem;
	box-shadow: 0 0.8rem 0.5rem rgba($color-grey-2, 0.4);
	color: $color-grey-1;
	display: inline-block;
	font-family: inherit;
	font-size: 1.6rem;
	font-weight: bolder;
	margin-top: 2.5rem;
	padding: 2rem 4rem;
	text-transform: uppercase;
	transition: all 200ms ease;
	width: 22rem;

	&:active {
		box-shadow: 0 0.5rem 0.5rem rgba($color-grey-2, 0.4);
		transform: translateY(0.4rem);
	}

	&:focus {
		background-color: $color-primary-shade-4;
		outline: none;
	}

	&:visited {
		text-decoration: none;
	}
}

.btn--cancel {
	background-color: $color-grey-2;
	border: none;
	border-radius: 0.7rem;
	box-shadow: 0 0.8rem 0.5rem rgba($color-grey-2, 0.4);
	color: inherit;
	display: inline-block;
	font-family: inherit;
	font-size: 1.6rem;
	margin-top: 2.5rem;
	padding: 2rem 4rem;
	text-transform: uppercase;
	transition: all 200ms ease;

	&:active {
		box-shadow: 0 0.5rem 0.5rem rgba($color-grey-2, 0.4);
		transform: translateY(0.4rem);
	}

	&:focus {
		background-color: $color-primary-shade-4;
		outline: none;
	}

	&:visited {
		text-decoration: none;
	}
}
