.modal {
	&__backdrop {
		background-color: var(--body-color);
		display: none;
		height: 100vh;
		opacity: 0.8;
		width: 100%;

		position: fixed;
		top: 0;
		z-index: 200;

		@supports (-webkit-backdrop-filter: blur(10px)) or
			(backdrop-filter: blur(10px)) {
			-webkit-backdrop-filter: blur(10px);
			backdrop-filter: blur(30px);
		}
	}

	&__content {
		display: none;

		position: relative;
		top: 0;
	}
}
