.contact {
	padding: 10rem 2rem;
	&__form {
		background-color: $color-grey-4;
		border-radius: 0.4rem;
		box-shadow: 0 0.95rem 1rem rgba($color-grey-2, 0.4);
		display: block;
		font-size: 1.6rem;
		margin: 0 auto;
		max-width: 60rem;
		padding: 2rem 1.25rem 4rem;
	}

	&__form > h2 {
		color: $color-primary-shade-1;
	}

	&__label {
		color: $color-primary-shade-1;
		display: block;
		font-weight: bolder;
		margin: 2rem 0 0.5rem;
		padding-left: 0.7rem;
	}

	&__input {
		border: 1.5px solid $color-grey-2;
		border-radius: 0.4rem;
		color: $color-grey-1;
		display: block;
		font-family: inherit;
		font-size: inherit;
		padding: 1.5rem 0 1.5rem 0.7rem;
		width: 100%;

		&:focus {
			background-color: $color-grey-3;
			outline: none;
		}
	}

	&__input:valid {
		border: 1.5px solid $color-success;
	}
}
