.header {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	padding: 5rem 2rem 10rem;
	margin-top: 7rem;

	@include mediaQueries(29.06rem) {
		padding: 5rem 4rem 10rem;
	}

	@include mediaQueries(55rem) {
	}

	&__title {
		background-image: url("../images/responsive_images/orange-frame-blob-sm.webp");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		height: 30rem;
		position: relative;
		text-align: center;

		@include mediaQueries(55rem) {
			background-image: url("../images/responsive_images/orange-frame-blob-lg.webp");
		}

		&--text {
			@include centered;
			@include textbox;
			padding: 0.75rem;

			@include mediaQueries(33.31rem) {
				padding: 1.2rem 2rem;
			}

			@include mediaQueries(55rem) {
				max-width: 39rem;
			}
		}
	}

	&__paragraph {
		@include textbox;
		border-radius: 0.5rem;
		font-size: 1.6rem;
		margin: 8rem 0;
		padding: 2rem;

		@include mediaQueries(33.31rem) {
			font-size: 1.8rem;
			margin: 6rem auto;
			padding: 2rem 4rem;
			max-width: 50rem;
		}

		@include mediaQueries(55rem) {
			font-size: 1.95rem;
			max-width: 70rem;
			padding: 3rem 4rem;
		}
	}
}
