.header {
	background-image: linear-gradient(
		89.8deg,
		rgba(222, 74, 74, 1) 4.7%,
		rgba(30, 29, 29, 1) 120.3%
	);
	height: 90vh;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	padding: 5rem 2rem 10rem;
	margin-top: 7rem;

	@include mediaQueries(29.06rem) {
		padding: 5rem 4rem 10rem;
	}

	@include mediaQueries(55rem) {
	}

	&__title {
		padding-top: 6rem;
		position: relative;
		text-align: center;

		&--text {
			@include centered;

			@include mediaQueries(33.31rem) {
				padding: 1.2rem 2rem;
			}

			@include mediaQueries(55rem) {
				max-width: 39rem;
			}
		}
	}

	&__paragraph {
		border-radius: 0.5rem;
		font-size: 1.7rem;
		margin: 8rem 0;
		padding: 0 2rem;

		@include mediaQueries(33.31rem) {
			font-size: 1.8rem;
			margin: 6rem auto;
			padding: 2rem 4rem;
			max-width: 50rem;
		}

		@include mediaQueries(55rem) {
			font-size: 1.95rem;
			max-width: 70rem;
			padding: 3rem 4rem;
		}
	}
}
